@font-face {
    font-family: "QuickSand";
    src: url("../assets/fonts/Quicksand-Medium.ttf");
}
@font-face {
    font-family: "SegoeUI";
    src: url("../assets/fonts/Segoe\ UI.ttf");
}
.AdminLoginBackground {
    background-image: url("../assets/img/AdminLoginPage_IMG/john-towner-JgOeRuGD_Y4-unsplash.jpg");
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    

}

.AdminInputFeild{
    background-color: rgba(247, 247, 247, 0.393);
 }
 .AdminLoginButtonClr{
    background-image: linear-gradient(120deg,rgb(22, 49, 255),rgb(7, 111, 159));
 }
 ::placeholder {
    color: rgb(255, 255, 255);
 
 }


 