* {
  color: #333333;
}
.admin_header-grid {
  display: grid;
  padding: 10px;
  background-color: white;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 180px);
  grid-column-gap: 20px;
  grid-gap: 10px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.admin_header-grid .admin_grid-item {
  /* background-color: gray; */
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.admin_header-grid .admin_grid-item:hover {
  box-shadow: 1px 2px 7px 0px rgb(95, 95, 95);
}

.admin_header-grid .admin_grid-item:nth-child(3) {
  grid-row: span 2;
}

.admin_header-grid .admin_grid-item:nth-child(1) {
  background-image: linear-gradient(-85deg, #2bc2e3, #367ce4);
}
.admin_header-grid .admin_grid-item:nth-child(2) {
  background-image: linear-gradient(-85deg, #9836e4, #712be3);
}
.admin_header-grid .admin_grid-item:nth-child(3) {
  background-color: white;
  padding: 20px;
  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); */
  box-shadow: inset 0 0 5px grey;
}
.admin_header-grid .admin_grid-item:nth-child(4) {
  background-image: linear-gradient(-85deg, #36e452, #17cb3e);
}
.admin_header-grid .admin_grid-item:nth-child(5) {
  background-image: linear-gradient(-85deg, #e3832b, #e46036);
}
.admin_header-grid .admin_grid-item:nth-child(6) {
  background-image: linear-gradient(-85deg, #e436b4, #e32bdc);
}
.admin_header-grid .admin_grid-item:nth-child(7) {
  background-image: linear-gradient(-85deg, #ffbe41, #e3992b);
}

.admin_header-grid .admin_grid-item:nth-child(3) .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}

.admin_header-grid .admin_grid-item:nth-child(3) .content .admin-name {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: -20%;
  text-align: center;
  animation-name: ani01;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.admin_header-grid
  .admin_grid-item:nth-child(3)
  .content
  .admin_panel-profile-image {
  width: 80%;
  /* clip-path: circle(); */
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  background-color: rgb(207, 207, 207);
}

.admin_header-grid .admin_grid-item {
  font-size: 22px;
}

@media screen and (max-width: 1600px) {
  .admin_header-grid .admin_grid-item {
    font-size: 20px;
  }
  .admin_header-grid {
    grid-template-areas:
      "c c a a b b"
      "c c e e f f"
      "d d d g g g";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 180px);
  }

  .admin_header-grid .admin_grid-item:nth-child(1) {
    grid-area: a;
  }
  .admin_header-grid .admin_grid-item:nth-child(2) {
    grid-area: b;
  }
  .admin_header-grid .admin_grid-item:nth-child(3) {
    grid-area: c;
  }
  .admin_header-grid .admin_grid-item:nth-child(4) {
    grid-area: d;
  }
  .admin_header-grid .admin_grid-item:nth-child(5) {
    grid-area: e;
  }
  .admin_header-grid .admin_grid-item:nth-child(6) {
    grid-area: f;
  }
  .admin_header-grid .admin_grid-item:nth-child(7) {
    grid-area: g;
  }
}

@media screen and (max-width: 768px) {
  .admin_header-grid .admin_grid-item {
    font-size: 16px;
    text-shadow: 0px 0px 2px black;
  }
  .admin_header-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "c c a"
      "c c f"
      "b b d"
      "g e e";
    grid-template-rows: repeat(4, 150px);
  }
}

@media screen and (max-width: 600px) {
  .admin_header-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "c c"
      "b e"
      "a a"
      "f f"
      "d g";
    grid-template-rows: repeat(5, 120px);
  }
  .admin_header-grid .admin_grid-item:nth-child(3) .content {
    flex-direction: row;
  }
  .admin_header-grid .admin_grid-item:nth-child(3) .content .admin-name {
    height: 100%;
    right: -100%;
    top: 0;
    justify-content: center;
    animation: ani02 2s forwards;
  }

  .admin_header-grid
    .admin_grid-item:nth-child(3)
    .content
    .admin_panel-profile-image {
    width: 70px;
  }
}

@media (min-width: 600px) {
  @keyframes ani01 {
    0% {
    }
    100% {
      bottom: 60px;
    }
  }
}

@keyframes ani02 {
  0% {
  }
  100% {
    right: 20px;
  }
}

.admin_header-grid .admin_grid-item:nth-child(3) .content .admin-name .name {
  color: rgb(112, 23, 255);
  font-size: 26px;
}
.admin_header-grid .admin_grid-item:nth-child(3) .content .admin-name .type {
  font-size: 16px;
  color: rgb(135, 61, 255);
}

/* ################### Admin Body Content ################### */
.admin_body-container {
}

.admin_body-container .admin_body-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-template-areas:
    "bodyA bodyA bodyB"
    "bodyC bodyC bodyD";
}

.admin_body-container .admin_body-grid > div {
  box-shadow: 1px 2px 5px 0px rgb(200, 200, 200);
  background-color: white;
  border-radius: 6px;
  padding: 10px;
}

.admin_body-container .admin_body-grid > div:hover {
  box-shadow: 1px 2px 7px 0px rgb(145, 145, 145);
  cursor: pointer;
  transition-duration: 0.5s;
}

.admin_body-container .admin_body-grid > div:nth-child(1) {
  grid-area: bodyA;
}
.admin_body-container .admin_body-grid > div:nth-child(2) {
  grid-area: bodyB;
}
.admin_body-container .admin_body-grid > div:nth-child(3) {
  grid-area: bodyC;
}
.admin_body-container .admin_body-grid > div:nth-child(4) {
  grid-area: bodyD;
}

.chart-container {
  width: 100%;
  height: 100%;
}

.msg-box {
  background-color: #eaeaea;
  padding: 5px;
  margin-top: 5px;
}

.admin_panel-msg-text {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.msg-container {
  scroll-behavior: smooth;
}

.ongoing-tour-box {
  background-color: #dfdfdf;
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.admin_panel_scroll-boxes {
  max-height: 350px;
}

@media (max-width: 1600px) {
  .admin_body-container .admin_body-grid {
    grid-template-areas:
      "bodyA bodyA bodyB"
      "bodyC bodyD bodyD";
  }
}

@media (max-width: 1400px) {
  .admin_body-container .admin_body-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "bodyA bodyA bodyA bodyB bodyB"
      "bodyC bodyC bodyD bodyD bodyD";
  }
}

@media (max-width: 1200px) {
  .admin_body-container .admin_body-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "bodyA bodyA bodyA bodyA bodyB bodyB"
      "bodyC bodyC bodyC bodyD bodyD bodyD";
  }
}

@media (max-width: 992px) {
  .admin_body-container .admin_body-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "bodyA bodyA bodyA"
      "bodyB bodyD bodyD"
      "bodyC bodyC bodyC";
  }
  .admin_panel_scroll-boxes {
    max-height: 300px;
  }
}

@media (max-width: 800px) {
  .admin_body-container .admin_body-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "bodyA"
      "bodyB"
      "bodyC"
      "bodyD";
  }
}
