:root {
  --default-radius: 6px;
}
.guide_body-grid > div:nth-child(1) {
  grid-area: GA;
}
.guide_body-grid > div:nth-child(2) {
  grid-area: GB;
}
.guide_body-grid > div:nth-child(3) {
  grid-area: GC;
}
.guide_body-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "GA GB"
    "GC GC";
  background-color: white;
  padding: 10px;
  border-radius: var(--default-radius);
  grid-gap: 10px;
  grid-row-gap: 20px;
}

.guide_body-grid > div {
  width: 100%;
  min-height: 100px;
  background-color: #eaeaea;
  padding: 5px;
  border-radius: var(--default-radius);
  /* height: 400px; */
}

.guide_assign-tour-box {
  max-height: 350px;
  overflow-y: auto;
}

.guide_assign-tour-box .msg-box {
  background-color: white;
  padding: 2px;
  border-radius: var(--default-radius);
  margin-top: 10px;
}

.tour-details-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* ###################### */
@media (max-width: 1400px) {
  .guide_body-grid {
    grid-template-areas:
      "GB GB"
      "GA GA"
      "GC GC";
  }
}

@media (max-width: 768px) {
  .guide_body-grid > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
    flex-direction: column;
  }

  .guide_body-grid
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(2)
    > div:nth-child(2) {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

.guide_customer-feedback-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.guide_customer-feedback-grid > div {
  width: 100%;
  min-height: 50px;
  background-color: white;
  border-radius: var(--default-radius);
}
