@font-face {
    font-family: "Segoe";
    src: url("../assets/fonts/SegoeUI.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter.ttf");
}
@font-face {
    font-family: "QuickSand";
    src: url("../assets/fonts/Quicksand-Medium.ttf");
}

.bg-content {
    background-color: #EAEAEA;
}

.blog-background {
    background-color: #fff;
}

.icon-filter {
    color: black;
}

.filter-textC {
    color: black;
}

.selector {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: calc(0.58rem + 0.59vh);
    font-weight: 400;
    /* font-family: 'Segoe'; */
    line-height: 1.5;
    color: #212529;
    background-color: #D7D7D7;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.selector:focus {
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(201, 201, 202, 0.25);
}

.tab-view{
    font-family: 'Inter'; 
    border: 1px solid #858585;
}

.tab-textC {
    color: #242424;
}

.icon-style {
    color: #9A7C13;
}

.bg-modalC{
    background-color: #ffffff;
}

.modal-titleC{
    color: black;
}

.modal-cont-textC{
    color: black;
}

.img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.pgi{
    box-shadow: 0px 3px 5px 0px black;
    border-radius: 20px;
}
.p_nation {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: 0px 3px 5px 0px black;
    border-radius: 100vh;
    display: flex;
   
}

.p_nation a {
    margin: 0px 5px;
    padding: 10px;
    border-radius: 100vh;
    min-width: 50px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.p_nation a:hover {
    background-color:rgb(43, 94, 248);
    /* background-color: #0c0091; */
    color: white;
}

.p_nation a.p_nation_next {
    min-width: 50px;
}

.p_nation a.p_nation_prev {
    min-width: 50px;
}

@media (max-width: 992px) {
    .p_nation a.p_nation_next {
        min-width: 50px;
        font-size: 20px;
    }

    .p_nation a.p_nation_prev {
        min-width: 50px;
        font-size: 20px;
    }

    .p_nation a {
        margin: 0px 2px;
    }
}