.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
  
  .header-menu .site-name {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: sans-serif;
    animation-name: siteNameAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  @media (max-width: 1400px) {
    .header-menu .site-name {
      font-size: 30px;
    }
  }
  
  @media (max-width: 1200px) {
    .header-menu .list {
      display: none;
    }
  }
  
  @media (max-width: 992px) {
    .header-menu {
      padding: 20px;
    }
    .header-menu .site-name {
      font-size: 26px;
    }
  }
  
  @media (max-width: 768px) {
    .header-menu {
      padding: 5px;
      display: flex;
      align-items: flex-start;
    }
    .header-menu .site-name {
      font-size: 16px;
    }
  }
  
  @keyframes siteNameAnimation {
    0% {
    }
    100% {
      opacity: 1;
    }
  }
  
  .header-menu .list {
    font-family: "Quicksand-SemiBold";
    font-size: 20px;
  }
  
  .header-menu .list ul {
    list-style: none;
  }
  
  .header-menu .list ul li {
    float: left;
    margin: 0px 20px;
    /* opacity: 0; */
  }
  
  .header-menu .list ul li:nth-child(1) {
    animation-name: homeListAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  .header-menu .list ul li:nth-child(2) {
    animation-delay: 0.3s;
    animation-name: homeListAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  .header-menu .list ul li:nth-child(3) {
    animation-delay: 0.6s;
    animation-name: homeListAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  .header-menu .list ul li:nth-child(4) {
    animation-delay: 0.9s;
    animation-name: homeListAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  .header-menu .list ul li:nth-child(5) {
    animation-delay: 1.2s;
    animation-name: homeListAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  .header-menu .list ul li:nth-child(6) {
    /* animation-delay: 1.5s;
    animation-name: homeListAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards; */
  }
  
  .header-menu .list ul li:nth-child(7) {
    animation-delay: 1.8s;
    animation-name: homeListAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes homeListAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .header-menu .list ul li a {
    color: white;
    text-decoration: none;
  }