.iconContainer {
  width: 30px;
  height: 30px;
  border-radius: 15px 15px 0 0;
}

.mobileMenuListItems .item {
  position: relative;
  margin: 0 50px;
  padding: 5px 0;
}

.mobileMenuListItems .item .bottomBorder {
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  z-index: 0;
  background-color: rgba(62, 62, 62, 0.25);
  border: 2px solid #3E3E3E;
  transition-duration: 0.5s;
}

.mobileMenuListItems .item .iconContainer {
  z-index: 1;
}

.mobileMenuListItems .item span {
  z-index: 1;
}

.mobileMenuListItems .item:hover .bottomBorder {
  width: 100%;
  transition-duration: 0.5s;
}