.header-container {
  background-image: linear-gradient(45deg, #11265f, #082f94, #082f94);
}

.header-menu {
  font-size: 1.2rem;
}
.header-menu ul {
  align-items: center;
}

.header-menu ul li:not(:nth-child(6)) {
  padding: 0 5px;
  border-radius: 4px;
}

.header-menu > ul > li > a span {
  color: white;
}

.header-menu ul li:hover:not(:nth-child(6)) {
  background-color: rgba(255, 255, 255, 0.1);
}

.header-menu ul li:nth-child(6) a span {
  border: 2px solid white;
  padding: 2px 10px;
  border-radius: 100vh;
}

.header-menu > ul > li:nth-child(6) a > span:hover {
  background-color: white;
  color: #082f94;
}

.header-menu > ul > li:nth-child(6) a > iconify-icon {
  border: 2px solid white;
  padding: 2px 10px;
  border-radius: 100vh;
  color: white;
}

.header-menu > ul > li:nth-child(6) a > iconify-icon:hover {
  background-color: white;
  color: #082f94;
}

.mobile-account-icon {
  color: white;
}

.scale-1_1:hover {
  transform: scale(1.1);
}

.header-more-panel iconify-icon {
  color: #b3b3b3;
}

.header-more-panel:hover {
  cursor: pointer;
}

.header-more-panel span {
  color: #b3b3b3;
}

.header-more-panel:hover iconify-icon,
.header-more-panel:hover span {
  color: white;
}
