.body_container {
  background-color: #f0f0f0;
}

.title_container {
  background-color: white;
  font-size: 22px;
  font-weight: 500;
  border-radius: 8px;
}

.content_container {
  background-color: white;
  font-size: 17px;
  font-weight: 400;
  border-radius: 8px;
  margin-top: 12px;
}

.input_field {
  width: 90%;
  background-color: #f0f0f0;
}

.table_input_field {
  background-color: #f0f0f0;
}

.add_btn {
  background-color: #83c7ee;
  width: 130px;
}

.table_header {
  border-bottom: 20px;
  border-color: #a29a9a;
}

.custom__form input {
  opacity: 0;
  height: 0;
}

.custom__image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.custom__image-container label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  cursor: pointer;
  width: 250px;
  height: 150px;
  border: dashed 1px #a29a9a;
  border-radius: 5px;
  object-fit: cover;
}

.custom__image-container img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
}

.custom__image-container a {
  background-color: #f0f0f0;
}

.new_plan_container {
  margin-top: 100px;
}

.add_new_plan {
  color: white;
  background-color: #4781b7;
  width: 300px;
}

/* table */

.styled-table {
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 100%;
}

.styled-table thead tr {
  background-color: white;
  color: black;
  border-bottom: 2px solid #dadada;
}

.styled-table th,
.styled-table td {
  font-weight: 400;
  padding: 12px 15px;
  border-right: 2px solid #dadada;
}

@media (max-width: 992px) {
  .input_field {
    width: 100%;
  }

  .new_plan_container {
    margin-top: 0px;
  }

  .add_new_plan {
    width: 100%;
  }
}
