@font-face {
  font-family: "Segoe";
  src: url("../assets/fonts/SegoeUI.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter.ttf");
}

.bg-orderP {
  background-color: #EAEAEA;
}

.top-tour-details1 {
  color: black;
}

.ordersPg_R_moreBTN {
  font-family: 'Segoe';
  color: #9D3DE9;
  border: 2px solid #9D3DE9;
  background-color: transparent;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selector_ord {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: calc(0.58rem + 0.59vh);
  font-weight: 400;
  font-family: 'Segoe';
  line-height: 1.5;
  color: #212529;
  background-color: #D7D7D7;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.selector_ord:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(201, 201, 202, 0.25);
}

.input-select1 {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-select1:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(201, 201, 202, 0.25);
}

.amountPic {
  background: url("../assets/img/ordersPg_IMG/backPicAmount.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 24vh;
}

.closeBtn3 {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #FFFFFF;
  background: transparent url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="black" d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"%2F%3E%3C%2Fsvg%3E');
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
}

.closeBtn3:hover {
  color: #FFFFFF;
  text-decoration: none;
  opacity: 0.75;
}

.closeBtn3:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  opacity: 1;
}

.closeBtn3:disabled,
.closeBtn3.disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: 0.25;
}

.closeBtn3-white {
  filter: invert(1) grayscale(100%) brightness(200%);
}

@media(max-width: 1200px) {
  .amountPic {
    height: auto;
  }
}

.blog-ord-bg-cont1 {
  background-color: #FFFFFF;
}

.icon-style3 {
  color: black;
}

.filter-textC2 {
  color: black;
}

.tab-ord-textC {
  color: black;
}

.tab-ord-sts-ong-textC {
  color: #158921;
}

.tab-ord-sts-pend-textC {
  color: #DB8219;
}

.unsg-ord-blog1 {
  box-shadow: 1px 1.5px 7px 0px rgba(0, 0, 0, 0.25);
}

.unsg-blog-title1 {
  color: black;
}

.unsg-collapse-cont1 {
  background-color: #EAEAEA;
  cursor: pointer;
}

.unsg-cont-date1 {
  color: #7B7B7B;
}

.unsg-cont-tourN {
  color: black;
}

.bg-ord-modal {
  background-color: #FFFFFF;
}

.ord-modal-title1 {
  color: black;
}

.ord-modal-textC1 {
  color: black;
}

.ord-modal-textC2 {
  color: black;
  font-size: calc(0.72rem + 0.72vh);
  font-weight: 600;
}

.ord-modal-textC3 {
  color: black;
  font-size: calc(0.67rem + 0.67vh);
  font-weight: 400;
}

.icon-style4 {
  color: #9A7C13;
}

.unsg-ord-modal-price {
  color: #1197B5;
}

.ord-modal-sts-sucs {
  color: #158921;
}

.ord_selector_modal {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: calc(0.58rem + 0.59vh);
  font-weight: 400;
  font-family: 'Segoe';
  line-height: 1.5;
  color: #212529;
  background-color: "#FFFFFF";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ord_selector_modal:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(201, 201, 202, 0.25);
}


.hover-shadow {
  transition-duration: 0.5s;
}

.hover-shadow:hover {
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.301);
  transition-duration: 0.5s;
}


.img-component-container {
  width: 100%;
  max-width: 90%;
  height: 250px;
  position: relative;
}

@media(max-width:1400px) {
  .img-component-container {
    /* width: 650px; */
  }
}

.img-component {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(6px);

}

.img-component-container img {
  width: 55%;
  height: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.img-component-container img:nth-child(2) {
  left: 65%;
  transform: translate(-50%, -50%) rotate(15deg);
}

.img-component-container img:nth-child(3) {
  left: 35%;
  transform: translate(-50%, -50%) rotate(-15deg);
}


/* Image Slider */

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-container {
  width: 50vw;
  height: 270px;
  position: relative;
  overflow: hidden;
  padding: 2px 8px;
}


@media(max-width:1400px) {
  .slider-container {
    width: 40vw;
  }
}

@media(max-width:1200px) {
  .slider-container {
    width: 50vw;
  }
}

@media(max-width:992px) {
  .slider-container {
    width: 70vw;
  }
}

@media(max-width:768px) {
  .slider-container {
    width: 85vw;
  }
}

@media(max-width:600px) {
  .slider-container {
    width: 95vw;
  }
}

.arrows {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 26px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}

.arrows iconify-icon {
  color: #ffffff;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.slider-container .slides {
  display: flex;
  align-items: center;
  height: 100%;
  /* column-gap: 5%; */
  margin-left: 12.5%;
}

.slider-container .slides .slide {
  width: 70%;
  height: 80%;
  padding: 0 10px;
  transition-duration: 1s;
}

.slider-container .slides .slide img {
  border-radius: 6px;
  filter: blur(2px);
  /* transition-delay: 1s; */
  transition-duration: 1s;
}

.slider-container .slides .active {
  height: 100%;
  transition-duration: 1s;
}

.slider-container .slides .active img {
  transition-delay: 0.5s;
  filter: blur(0px);
}