body {
  margin: 0;
  padding: 0;
}

.background {
  background-color: #dedede;
}

.section {
  background-color: #ffffff;
}

/* text slider */

.text-overlay {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  padding: 10px;
}

.text-overlay h3 {
  font-size: 20px;
  margin: 0;
}

.text-overlay p {
  font-size: 14px;
  margin: 0;
}

/* text slider */

.custom-carousel {
  width: 100%;
  height: auto;
}

.carousel-item img {
  width: 100%;
  height: auto;
  max-height: 90vh;
}

.card1 {
  width: fit-content;
  overflow: hidden;
  border-radius: 10px;
}

.card1 .card1-inner {
  display: flex;
  overflow: hidden;
}

.card1 img {
  border-radius: 10px;
  width: 250px;
  height: 200px;
  display: block;
}

.card1-content {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 10px 10px 0;
  color: #fff;
  padding-bottom: 40px;
  width: 60px;
  font-size: 20px;
  transition: opacity 0.1s ease-in-out;
  opacity: 0;
  display: flex;
  align-items: end;
  justify-content: center;
}

.card1:hover .card1-img {
  border-radius: 0px;
  transform-origin: start;
}

.card1-content p {
  transform: rotate(-90deg);
  transform-origin: start;
}

.card1:hover .card1-content {
  opacity: 1;
}

.with-line {
  font-size: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.line {
  flex: 1;
  height: 2px;
  background-color: #b9b9b9;
  margin-left: 10px;
}

/* city image */

.city_image {
  position: relative;
  text-align: center;
}

.city_image img {
  border-radius: 10px;
}

.image-text {
  position: absolute;
  top: 10%;
  left: 85%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  background: #0548ad;
  border: 2px solid #fff;
  color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
}

/* city cards */

.card-slider {
  width: 100%;
  overflow: hidden;
}

.cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  position: relative;
  flex: 0 0 calc(20% - 20px);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-right: 20px;
}

.card:last-child {
  margin-right: 0;
}

img {
  width: 100%;
  height: auto;
}

.card img {
  width: 100%;
  height: 220px;
}

.card-overlay {
  position: absolute;
  top: 40;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-overlay span {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-container span {
  font-size: 20px;
  font-weight: 500;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.footer {
  padding: 0;
  margin: 0;
}

@media (max-width: 1400px) {
  .card1 img {
    width: 220px;
    height: 150px;
  }
}

@media (max-width: 1140px) {
  .card1-content {
    font-size: 16px;
    padding-bottom: 15px;
  }

  .card1 img {
    width: 200px;
    height: 150px;
  }

  .card-overlay span {
    font-size: 18px;
  }
}

@media (max-width: 1100px) {
  .card {
    flex: 0 0 calc(30% - 20px);
  }

  .card1 img {
    width: 150px;
    height: 100px;
  }

  .image-text {
    font-size: 16px;
    padding: 5px 10px;
  }
}

@media (max-width: 950px) {
  .card {
    flex: 0 0 calc(30% - 20px);
  }

  .card1-content {
    display: none;
  }

  .card1 img {
    width: 200px;
    max-height: 100px;
  }

  .card1:hover .card1-img {
    border-radius: 10px;
  }
}

@media (max-width: 840px) {
  .image-text {
    font-size: 12px;
    padding: 3px 5px;
    top: 10%;
    left: 85%;
  }
}

@media (max-width: 780px) {
  .card {
    flex: 0 0 calc(40% - 20px);
  }

  .card1 img {
    width: 200px;
    max-height: 100px;
  }

  .image-text {
    display: none;
  }

  .btn-container span {
    font-size: 14px;
  }

  .with-line {
    font-size: 20px;
  }

  .card-overlay span {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .card {
    flex: 0 0 calc(50% - 20px);
  }

  .with-line {
    font-size: 16px;
  }
}





/* ############################## Home Image Slider ############################## */
.home-image-slider {
  width: 100%;
  height: 80vh;
}

.home-image-slider .slides {
  width: 100%;
  height: 100%;
  position: relative;
}

.home-image-slider .slides .slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  transition-duration: 2s;
  transition-delay: 1s;
}

.slide-content {
  color: white;
  z-index: 5;
  padding: 10px;
  position: absolute;
  bottom: 100px;
  margin-left: 20px;
}

/* .home-image-slider .slides .slide:nth-child(1) .slide-content {
} */

.slide-content>div:nth-child(1) {
  font-weight: bold;
  font-size: 46px;
  text-shadow: 0px 0px 5px black;
}

.slide-content>div:nth-child(2) {
  max-width: 50vw;
  margin-top: 30px;
  text-shadow: 0px 0px 5px black;
  font-family: var(--quick-medium);
}

.slide-content .get-start-btn {
  background-image: linear-gradient(45deg, rgb(11, 154, 11), rgb(46, 227, 46));
  padding: 7px 30px;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: var(--quick-SemiBold);
  margin-top: 20px;
}

@media (max-width: 992px) {

  .slide-content>div:nth-child(1) {
    font-size: 24px;
  }

  .home-image-slider .slides .slide:nth-child(1) .slide-content div:nth-child(1) {
    font-size: 20px;
  }

  .slide-content>div:nth-child(2) {
    max-width: 70vw;
    font-size: 14px;
  }

  .slide-content {
    bottom: 50px;
  }
}

.home-image-slider .slides .active {
  opacity: 1;
  transition-duration: 2s;
}

.home-image-slider .slides .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-image-slider .slides .slide::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  opacity: 0.25;
}


.place-container{
  
}