@import url('places.css');

.background {
  background-color: #242424;
}

.section {
  background-color: #3e3e3e;
}

.card1-content {
  background-color: rgba(0, 0, 0, 0.5);
}


.line {
  background-color: #b9b9b9;
}

.image-text {
  background: rgba(0, 0, 0, 0.5);
}

.card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.with-line {
  color: white;
}


.card-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}
