body {
  margin: 0;
  padding: 0;
}

.background {
  background-color: #dedede;
}

.section {
  background-color: #ffffff;
}

/* text slider */

.text-overlay {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  padding: 10px;
}

.text-overlay h3 {
  font-size: 20px;
  margin: 0;
}

.text-overlay p {
  font-size: 14px;
  margin: 0;
}

/* text slider */

.custom-carousel {
  width: 100%;
  height: auto;
}

.carousel-item img {
  width: 100%;
  height: auto;
  max-height: 90vh;
}

.card1 {
  width: fit-content;
  overflow: hidden;
  border-radius: 10px;
}

.card1 .card1-inner {
  display: flex;
  overflow: hidden;
}

.card1 img {
  border-radius: 10px;
  max-width: 70%;
  height: auto;
  display: block;
}

.card1-content {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 10px 10px 0;
  color: #fff;
  padding-bottom: 40px;
  font-size: 20px;
  transition: opacity 0.1s ease-in-out;
  opacity: 0;
  max-width: 20%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.card1:hover .card1-img {
  border-radius: 0px;
  transform-origin: start;
}

.card1-content p {
  transform: rotate(-90deg);
  transform-origin: start;
}

.card1:hover .card1-content {
  opacity: 1;
}

.with-line {
  font-size: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.line {
  flex: 1;
  height: 2px;
  background-color: #b9b9b9;
  margin-left: 10px;
}

/* city image */

.city_image {
  position: relative;
  text-align: center;
}

.city_image img {
  border-radius: 10px;
}

.image-text {
  position: absolute;
  top: 10%;
  left: 85%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  background: #0548ad;
  border: 2px solid #fff;
  color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
}

/* city cards */

.card-slider {
  width: 100%;
  overflow: hidden;
}

.cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  position: relative;
  flex: 0 0 calc(20% - 20px);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-right: 20px;
}

.card:last-child {
  margin-right: 0;
}

img {
  width: 100%;
  height: auto;
}

.card-overlay {
  position: absolute;
  top: 40;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-overlay span {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-container span {
  font-size: 20px;
  font-weight: 500;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

@media (max-width: 1140px) {
  .card1-content {
    font-size: 16px;
    padding-bottom: 15px;
  }
  .card-overlay span {
    font-size: 18px;
  }
}

@media (max-width: 1100px) {
  .card {
    flex: 0 0 calc(30% - 20px);
  }
  .image-text {
    font-size: 16px;
    padding: 5px 10px;
  }
}

@media (max-width: 950px) {
  .card1-content {
    display: none;
  }
  .card1 img {
    max-width: 90%;
  }
  .card1:hover .card1-img {
    border-radius: 10px;
  }
}

@media (max-width: 840px) {
  .image-text {
    font-size: 12px;
    padding: 3px 5px;
    top: 10%;
    left: 85%;
  }
}

@media (max-width: 780px) {
  .card {
    flex: 0 0 calc(40% - 20px);
  }
  .image-text {
    display: none;
  }
  .btn-container span {
    font-size: 14px;
  }
  .with-line {
    font-size: 20px;
  }
  .card-overlay span {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .card {
    flex: 0 0 calc(50% - 20px);
  }
  .with-line {
    font-size: 16px;
  }
}
