* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: rgb(199, 199, 199);
}

::-webkit-scrollbar-track{
  /* background-color: rgba(255, 0, 0, 0.27); */
}

::-webkit-scrollbar-thumb{
  background-color: rgb(162, 162, 162);
  border: 2px solid rgb(199, 199, 199);
  border-radius: 100vw;
}

::-webkit-scrollbar-track:hover ::-webkit-scrollbar-thumb{
  background-color: rgb(145, 145, 145);
}

@font-face {
  font-family: "lemon";
  src: url("Lemon-Regular.ttf");
}

@font-face {
  font-family: "Quicksand-Semibold";
  src: url("./Quicksand-SemiBold.ttf");
}

.side_menu {
  width: 400px;
  max-width: 400px;
  min-width: 400px  ;
  height: 100vh;
  background-color: #e7e7e7;
  position: relative;
  border-right: 1px solid rgb(190, 190, 190);
  display: flex;
  justify-content: center;
  padding-right: 30px;
  overflow-y: auto;
}

.arrow_cotnainer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
  color: #333333;
  font-size: 22px;
  cursor: pointer;
}

.desktopMode {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
}

.desktopMode .sideMenuList,
.mobileMode .icon-list{
  padding-bottom: 100px;
}

.desktopMode hr {
  border: 1px solid rgba(167, 167, 167, 0.5);
}

.site_details {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.site_logo {
  width: 150px;
  height: 150px;
  background-color: rgb(199, 199, 199);
  clip-path: circle();
}
.site_name {
  font-family: "lemon";
  font-size: 30px;
  color: #467ade;
  margin-top: 5px;
}

.sideMenuList {
  /* background-color: white; */
  padding: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.sideMenuList .listItem {
  border-bottom: 1px solid rgb(227, 227, 227);
  padding-bottom: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Quicksand-Semibold";
}
.sideMenuList .listItem:hover {
  color: #467ade;
}

.sideMenuList .SubContent {
  height: 0px;
  overflow: hidden;
  transition-duration: 0.3s;
}

.mobileMode {
  color: #5d5d5d;
}

.mobileMode .site_details {
  display: flex;
}

.mobileMode .site_details .siteLogo {
  width: 50px;
  height: 50px;
  background-color: rgb(199, 199, 199);
  clip-path: circle();
  margin-top: 10px;
}

.mobileMode hr {
  border: 1px solid rgba(167, 167, 167, 0.5);
}

.mobileMode .icon-list iconify-icon:hover {
  cursor: pointer;
  color: #333333;
}
