ReWriteEngine On

Options -Indexes

ReWriteRule ^Home$ home.php [NC,L]
ReWriteRule ^Itinerary$ itinerary.php [NC,L]
ReWriteRule ^Guide/Tours$ guideP_TourPage.php [NC,L]
ReWriteRule ^Login$ TouristLoginPage.php [NC,L]
ReWriteRule ^Registration$ TouristRegistrationPage.php [NC,L]
ReWriteRule ^Admin/Home$ adminPanel.php [NC,L]
ReWriteRule ^Guide/Home$ guidePanel.php [NC,L]
ReWriteRule ^Admin/Profile$ adminProfile.php [NC,L]
ReWriteRule ^Guide/Profile$ guideProfile.php [NC,L]